In [166]:
import pandas as pd
import numpy as np

#load the data
filepath = '../Data/Data.txt'
df = pd.read_csv(filepath, delimiter=';')

In [143]:
df.head(10)

            HourUTC            HourDK PriceArea  ConsumerType_DE35  TotalCon
0  2023-06-30 21:00  2023-06-30 23:00       DK1                111     65920
1  2023-06-30 21:00  2023-06-30 23:00       DK2                111     47018
2  2023-06-30 21:00  2023-06-30 23:00       DK1                112      1313
3  2023-06-30 21:00  2023-06-30 23:00       DK2                112       933
4  2023-06-30 21:00  2023-06-30 23:00       DK1                119     21806
5  2023-06-30 21:00  2023-06-30 23:00       DK2                119     26458
6  2023-06-30 21:00  2023-06-30 23:00       DK1                121    222108
7  2023-06-30 21:00  2023-06-30 23:00       DK2                121    113923
8  2023-06-30 21:00  2023-06-30 23:00       DK1                122     25068
9  2023-06-30 21:00  2023-06-30 23:00       DK2                122     24129

In [167]:
# Check Totalcon have 0 values and replace them with mean

df['TotalCon'] = df['TotalCon'].replace(0, np.nan)

# Show the number with NaN values
missing_values = df.isnull().sum()
print(missing_values)

HourUTC              0
HourDK               0
PriceArea            0
ConsumerType_DE35    0
TotalCon             0
dtype: int64

In [168]:
# Fill NaN values with the mean of 'TotalCon'
df['TotalCon'] = df['TotalCon'].fillna(df['TotalCon'].mean())

In [169]:
df['EventTimestamp'] = pd.to_datetime(df['HourDK'])
df['idx'] = pd.to_datetime(df.EventTimestamp)
df['DMY'] = df['idx'].dt.strftime('%d-%m-%Y')
df= df.set_index('idx')
df['Hour'] = df.index.hour
df['Minute'] = df.index.minute
df['DayOfWeek'] = df.index.dayofweek
df['Quarter'] = df.index.quarter
df['Month'] = df.index.month
df['Day'] = df.index.day
df['Year'] = df.index.year
df['Season'] = df['Month'] % 12 // 3 + 1
df['Dayofyear'] = df.index.dayofyear
df['DayOfMonth'] = df.index.day
df['WeekOfYear'] = df.index.isocalendar().week

# Additional features
df['IsWeekend'] = df['DayOfWeek'].isin([5, 6])
df['IsMonthStart'] = (df['DayOfMonth'] == 1)
df['IsMonthEnd'] = (df['DayOfMonth'] == df.index.days_in_month)
df['IsQuarterStart'] = (df['DayOfMonth'] == 1) & (df['Month'] % 3 == 1)
df['IsQuarterEnd'] = (df['DayOfMonth'] == df.groupby(['Year', 'Quarter'])['DayOfMonth'].transform('max'))

# Additional features
df['IsWorkingDay'] = df['DayOfWeek'].isin([0, 1, 2, 3, 4])
df['IsBusinessHours'] = df['Hour'].between(9, 17)
df['IsPeakHour'] = df['Hour'].isin([8, 12, 18])

# Minute-level features
df['MinuteOfDay'] = df['Hour'] * 60 + df['Minute']
df['MinuteOfWeek'] = (df['DayOfWeek'] * 24 * 60) + df['MinuteOfDay']

In [170]:
def check_data_complete(df):
    # Group by ConsumerType_DE35 and PriceArea, and count unique hours
    group_counts = df.groupby(['ConsumerType_DE35', 'PriceArea', 'DMY']).size()
    print (group_counts[group_counts != 24])
    # Check which groups have less than 24 unique hours
    incomplete_data = group_counts[group_counts != 24].index.tolist()
    print(f"ConsumerType_DE35 and PriceArea groups with incomplete data: {incomplete_data};")
    return incomplete_data

In [171]:
incomplete_combinations = check_data_complete(df)

ConsumerType_DE35  PriceArea  DMY
111                DK1        25-10-2020    25
                              26-03-2023    23
                              27-03-2022    23
                              28-03-2021    23
                              30-10-2022    25
                                            ..
999                DK2        26-03-2023    23
                              27-03-2022    23
                              28-03-2021    23
                              30-10-2022    25
                              31-10-2021    25
Length: 456, dtype: int64
ConsumerType_DE35 and PriceArea groups with incomplete data: [(111, 'DK1', '25-10-2020'), (111, 'DK1', '26-03-2023'), (111, 'DK1', '27-03-2022'), (111, 'DK1', '28-03-2021'), (111, 'DK1', '30-10-2022'), (111, 'DK1', '31-10-2021'), (111, 'DK2', '25-10-2020'), (111, 'DK2', '26-03-2023'), (111, 'DK2', '27-03-2022'), (111, 'DK2', '28-03-2021'), (111, 'DK2', '30-10-2022'), (111, 'DK2', '31-10-2021'), (112, 'DK1', '25-10-2020'), (112, 'DK1', '26-03-2023'), (112, 'DK1', '27-03-2022'), (112, 'DK1', '28-03-2021'), (112, 'DK1', '30-10-2022'), (112, 'DK1', '31-10-2021'), (112, 'DK2', '25-10-2020'), (112, 'DK2', '26-03-2023'), (112, 'DK2', '27-03-2022'), (112, 'DK2', '28-03-2021'), (112, 'DK2', '30-10-2022'), (112, 'DK2', '31-10-2021'), (119, 'DK1', '25-10-2020'), (119, 'DK1', '26-03-2023'), (119, 'DK1', '27-03-2022'), (119, 'DK1', '28-03-2021'), (119, 'DK1', '30-10-2022'), (119, 'DK1', '31-10-2021'), (119, 'DK2', '25-10-2020'), (119, 'DK2', '26-03-2023'), (119, 'DK2', '27-03-2022'), (119, 'DK2', '28-03-2021'), (119, 'DK2', '30-10-2022'), (119, 'DK2', '31-10-2021'), (121, 'DK1', '25-10-2020'), (121, 'DK1', '26-03-2023'), (121, 'DK1', '27-03-2022'), (121, 'DK1', '28-03-2021'), (121, 'DK1', '30-10-2022'), (121, 'DK1', '31-10-2021'), (121, 'DK2', '25-10-2020'), (121, 'DK2', '26-03-2023'), (121, 'DK2', '27-03-2022'), (121, 'DK2', '28-03-2021'), (121, 'DK2', '30-10-2022'), (121, 'DK2', '31-10-2021'), (122, 'DK1', '25-10-2020'), (122, 'DK1', '26-03-2023'), (122, 'DK1', '27-03-2022'), (122, 'DK1', '28-03-2021'), (122, 'DK1', '30-10-2022'), (122, 'DK1', '31-10-2021'), (122, 'DK2', '25-10-2020'), (122, 'DK2', '26-03-2023'), (122, 'DK2', '27-03-2022'), (122, 'DK2', '28-03-2021'), (122, 'DK2', '30-10-2022'), (122, 'DK2', '31-10-2021'), (123, 'DK1', '25-10-2020'), (123, 'DK1', '26-03-2023'), (123, 'DK1', '27-03-2022'), (123, 'DK1', '28-03-2021'), (123, 'DK1', '30-10-2022'), (123, 'DK1', '31-10-2021'), (123, 'DK2', '25-10-2020'), (123, 'DK2', '26-03-2023'), (123, 'DK2', '27-03-2022'), (123, 'DK2', '28-03-2021'), (123, 'DK2', '30-10-2022'), (123, 'DK2', '31-10-2021'), (130, 'DK1', '25-10-2020'), (130, 'DK1', '26-03-2023'), (130, 'DK1', '27-03-2022'), (130, 'DK1', '28-03-2021'), (130, 'DK1', '30-10-2022'), (130, 'DK1', '31-10-2021'), (130, 'DK2', '25-10-2020'), (130, 'DK2', '26-03-2023'), (130, 'DK2', '27-03-2022'), (130, 'DK2', '28-03-2021'), (130, 'DK2', '30-10-2022'), (130, 'DK2', '31-10-2021'), (211, 'DK1', '25-10-2020'), (211, 'DK1', '26-03-2023'), (211, 'DK1', '27-03-2022'), (211, 'DK1', '28-03-2021'), (211, 'DK1', '30-10-2022'), (211, 'DK1', '31-10-2021'), (211, 'DK2', '25-10-2020'), (211, 'DK2', '26-03-2023'), (211, 'DK2', '27-03-2022'), (211, 'DK2', '28-03-2021'), (211, 'DK2', '30-10-2022'), (211, 'DK2', '31-10-2021'), (212, 'DK1', '25-10-2020'), (212, 'DK1', '26-03-2023'), (212, 'DK1', '27-03-2022'), (212, 'DK1', '28-03-2021'), (212, 'DK1', '30-10-2022'), (212, 'DK1', '31-10-2021'), (212, 'DK2', '25-10-2020'), (212, 'DK2', '26-03-2023'), (212, 'DK2', '27-03-2022'), (212, 'DK2', '28-03-2021'), (212, 'DK2', '30-10-2022'), (212, 'DK2', '31-10-2021'), (215, 'DK1', '25-10-2020'), (215, 'DK1', '26-03-2023'), (215, 'DK1', '27-03-2022'), (215, 'DK1', '28-03-2021'), (215, 'DK1', '30-10-2022'), (215, 'DK1', '31-10-2021'), (215, 'DK2', '25-10-2020'), (215, 'DK2', '26-03-2023'), (215, 'DK2', '27-03-2022'), (215, 'DK2', '28-03-2021'), (215, 'DK2', '30-10-2022'), (215, 'DK2', '31-10-2021'), (220, 'DK1', '25-10-2020'), (220, 'DK1', '26-03-2023'), (220, 'DK1', '27-03-2022'), (220, 'DK1', '28-03-2021'), (220, 'DK1', '30-10-2022'), (220, 'DK1', '31-10-2021'), (220, 'DK2', '25-10-2020'), (220, 'DK2', '26-03-2023'), (220, 'DK2', '27-03-2022'), (220, 'DK2', '28-03-2021'), (220, 'DK2', '30-10-2022'), (220, 'DK2', '31-10-2021'), (310, 'DK1', '25-10-2020'), (310, 'DK1', '26-03-2023'), (310, 'DK1', '27-03-2022'), (310, 'DK1', '28-03-2021'), (310, 'DK1', '30-10-2022'), (310, 'DK1', '31-10-2021'), (310, 'DK2', '25-10-2020'), (310, 'DK2', '26-03-2023'), (310, 'DK2', '27-03-2022'), (310, 'DK2', '28-03-2021'), (310, 'DK2', '30-10-2022'), (310, 'DK2', '31-10-2021'), (320, 'DK1', '25-10-2020'), (320, 'DK1', '26-03-2023'), (320, 'DK1', '27-03-2022'), (320, 'DK1', '28-03-2021'), (320, 'DK1', '30-10-2022'), (320, 'DK1', '31-10-2021'), (320, 'DK2', '25-10-2020'), (320, 'DK2', '26-03-2023'), (320, 'DK2', '27-03-2022'), (320, 'DK2', '28-03-2021'), (320, 'DK2', '30-10-2022'), (320, 'DK2', '31-10-2021'), (330, 'DK1', '25-10-2020'), (330, 'DK1', '26-03-2023'), (330, 'DK1', '27-03-2022'), (330, 'DK1', '28-03-2021'), (330, 'DK1', '30-10-2022'), (330, 'DK1', '31-10-2021'), (330, 'DK2', '25-10-2020'), (330, 'DK2', '26-03-2023'), (330, 'DK2', '27-03-2022'), (330, 'DK2', '28-03-2021'), (330, 'DK2', '30-10-2022'), (330, 'DK2', '31-10-2021'), (340, 'DK1', '25-10-2020'), (340, 'DK1', '26-03-2023'), (340, 'DK1', '27-03-2022'), (340, 'DK1', '28-03-2021'), (340, 'DK1', '30-10-2022'), (340, 'DK1', '31-10-2021'), (340, 'DK2', '25-10-2020'), (340, 'DK2', '26-03-2023'), (340, 'DK2', '27-03-2022'), (340, 'DK2', '28-03-2021'), (340, 'DK2', '30-10-2022'), (340, 'DK2', '31-10-2021'), (350, 'DK1', '25-10-2020'), (350, 'DK1', '26-03-2023'), (350, 'DK1', '27-03-2022'), (350, 'DK1', '28-03-2021'), (350, 'DK1', '30-10-2022'), (350, 'DK1', '31-10-2021'), (350, 'DK2', '25-10-2020'), (350, 'DK2', '26-03-2023'), (350, 'DK2', '27-03-2022'), (350, 'DK2', '28-03-2021'), (350, 'DK2', '30-10-2022'), (350, 'DK2', '31-10-2021'), (360, 'DK1', '25-10-2020'), (360, 'DK1', '26-03-2023'), (360, 'DK1', '27-03-2022'), (360, 'DK1', '28-03-2021'), (360, 'DK1', '30-10-2022'), (360, 'DK1', '31-10-2021'), (360, 'DK2', '25-10-2020'), (360, 'DK2', '26-03-2023'), (360, 'DK2', '27-03-2022'), (360, 'DK2', '28-03-2021'), (360, 'DK2', '30-10-2022'), (360, 'DK2', '31-10-2021'), (370, 'DK1', '25-10-2020'), (370, 'DK1', '26-03-2023'), (370, 'DK1', '27-03-2022'), (370, 'DK1', '28-03-2021'), (370, 'DK1', '30-10-2022'), (370, 'DK1', '31-10-2021'), (370, 'DK2', '25-10-2020'), (370, 'DK2', '26-03-2023'), (370, 'DK2', '27-03-2022'), (370, 'DK2', '28-03-2021'), (370, 'DK2', '30-10-2022'), (370, 'DK2', '31-10-2021'), (381, 'DK1', '25-10-2020'), (381, 'DK1', '26-03-2023'), (381, 'DK1', '27-03-2022'), (381, 'DK1', '28-03-2021'), (381, 'DK1', '30-10-2022'), (381, 'DK1', '31-10-2021'), (381, 'DK2', '25-10-2020'), (381, 'DK2', '26-03-2023'), (381, 'DK2', '27-03-2022'), (381, 'DK2', '28-03-2021'), (381, 'DK2', '30-10-2022'), (381, 'DK2', '31-10-2021'), (382, 'DK1', '25-10-2020'), (382, 'DK1', '26-03-2023'), (382, 'DK1', '27-03-2022'), (382, 'DK1', '28-03-2021'), (382, 'DK1', '30-10-2022'), (382, 'DK1', '31-10-2021'), (382, 'DK2', '25-10-2020'), (382, 'DK2', '26-03-2023'), (382, 'DK2', '27-03-2022'), (382, 'DK2', '28-03-2021'), (382, 'DK2', '30-10-2022'), (382, 'DK2', '31-10-2021'), (390, 'DK1', '25-10-2020'), (390, 'DK1', '26-03-2023'), (390, 'DK1', '27-03-2022'), (390, 'DK1', '28-03-2021'), (390, 'DK1', '30-10-2022'), (390, 'DK1', '31-10-2021'), (390, 'DK2', '25-10-2020'), (390, 'DK2', '26-03-2023'), (390, 'DK2', '27-03-2022'), (390, 'DK2', '28-03-2021'), (390, 'DK2', '30-10-2022'), (390, 'DK2', '31-10-2021'), (410, 'DK1', '25-10-2020'), (410, 'DK1', '26-03-2023'), (410, 'DK1', '27-03-2022'), (410, 'DK1', '28-03-2021'), (410, 'DK1', '30-10-2022'), (410, 'DK1', '31-10-2021'), (410, 'DK2', '25-10-2020'), (410, 'DK2', '26-03-2023'), (410, 'DK2', '27-03-2022'), (410, 'DK2', '28-03-2021'), (410, 'DK2', '30-10-2022'), (410, 'DK2', '31-10-2021'), (421, 'DK1', '25-10-2020'), (421, 'DK1', '26-03-2023'), (421, 'DK1', '27-03-2022'), (421, 'DK1', '28-03-2021'), (421, 'DK1', '30-10-2022'), (421, 'DK1', '31-10-2021'), (421, 'DK2', '25-10-2020'), (421, 'DK2', '26-03-2023'), (421, 'DK2', '27-03-2022'), (421, 'DK2', '28-03-2021'), (421, 'DK2', '30-10-2022'), (421, 'DK2', '31-10-2021'), (422, 'DK1', '25-10-2020'), (422, 'DK1', '26-03-2023'), (422, 'DK1', '27-03-2022'), (422, 'DK1', '28-03-2021'), (422, 'DK1', '30-10-2022'), (422, 'DK1', '31-10-2021'), (422, 'DK2', '25-10-2020'), (422, 'DK2', '26-03-2023'), (422, 'DK2', '27-03-2022'), (422, 'DK2', '28-03-2021'), (422, 'DK2', '30-10-2022'), (422, 'DK2', '31-10-2021'), (431, 'DK1', '25-10-2020'), (431, 'DK1', '26-03-2023'), (431, 'DK1', '27-03-2022'), (431, 'DK1', '28-03-2021'), (431, 'DK1', '30-10-2022'), (431, 'DK1', '31-10-2021'), (431, 'DK2', '25-10-2020'), (431, 'DK2', '26-03-2023'), (431, 'DK2', '27-03-2022'), (431, 'DK2', '28-03-2021'), (431, 'DK2', '30-10-2022'), (431, 'DK2', '31-10-2021'), (432, 'DK1', '25-10-2020'), (432, 'DK1', '26-03-2023'), (432, 'DK1', '27-03-2022'), (432, 'DK1', '28-03-2021'), (432, 'DK1', '30-10-2022'), (432, 'DK1', '31-10-2021'), (432, 'DK2', '25-10-2020'), (432, 'DK2', '26-03-2023'), (432, 'DK2', '27-03-2022'), (432, 'DK2', '28-03-2021'), (432, 'DK2', '30-10-2022'), (432, 'DK2', '31-10-2021'), (433, 'DK1', '25-10-2020'), (433, 'DK1', '26-03-2023'), (433, 'DK1', '27-03-2022'), (433, 'DK1', '28-03-2021'), (433, 'DK1', '30-10-2022'), (433, 'DK1', '31-10-2021'), (433, 'DK2', '25-10-2020'), (433, 'DK2', '26-03-2023'), (433, 'DK2', '27-03-2022'), (433, 'DK2', '28-03-2021'), (433, 'DK2', '30-10-2022'), (433, 'DK2', '31-10-2021'), (441, 'DK1', '25-10-2020'), (441, 'DK1', '26-03-2023'), (441, 'DK1', '27-03-2022'), (441, 'DK1', '28-03-2021'), (441, 'DK1', '30-10-2022'), (441, 'DK1', '31-10-2021'), (441, 'DK2', '25-10-2020'), (441, 'DK2', '26-03-2023'), (441, 'DK2', '27-03-2022'), (441, 'DK2', '28-03-2021'), (441, 'DK2', '30-10-2022'), (441, 'DK2', '31-10-2021'), (442, 'DK1', '25-10-2020'), (442, 'DK1', '26-03-2023'), (442, 'DK1', '27-03-2022'), (442, 'DK1', '28-03-2021'), (442, 'DK1', '30-10-2022'), (442, 'DK1', '31-10-2021'), (442, 'DK2', '25-10-2020'), (442, 'DK2', '26-03-2023'), (442, 'DK2', '27-03-2022'), (442, 'DK2', '28-03-2021'), (442, 'DK2', '30-10-2022'), (442, 'DK2', '31-10-2021'), (443, 'DK1', '25-10-2020'), (443, 'DK1', '26-03-2023'), (443, 'DK1', '27-03-2022'), (443, 'DK1', '28-03-2021'), (443, 'DK1', '30-10-2022'), (443, 'DK1', '31-10-2021'), (443, 'DK2', '25-10-2020'), (443, 'DK2', '26-03-2023'), (443, 'DK2', '27-03-2022'), (443, 'DK2', '28-03-2021'), (443, 'DK2', '30-10-2022'), (443, 'DK2', '31-10-2021'), (444, 'DK1', '25-10-2020'), (444, 'DK1', '26-03-2023'), (444, 'DK1', '27-03-2022'), (444, 'DK1', '28-03-2021'), (444, 'DK1', '30-10-2022'), (444, 'DK1', '31-10-2021'), (444, 'DK2', '25-10-2020'), (444, 'DK2', '26-03-2023'), (444, 'DK2', '27-03-2022'), (444, 'DK2', '28-03-2021'), (444, 'DK2', '30-10-2022'), (444, 'DK2', '31-10-2021'), (445, 'DK1', '25-10-2020'), (445, 'DK1', '26-03-2023'), (445, 'DK1', '27-03-2022'), (445, 'DK1', '28-03-2021'), (445, 'DK1', '30-10-2022'), (445, 'DK1', '31-10-2021'), (445, 'DK2', '25-10-2020'), (445, 'DK2', '26-03-2023'), (445, 'DK2', '27-03-2022'), (445, 'DK2', '28-03-2021'), (445, 'DK2', '30-10-2022'), (445, 'DK2', '31-10-2021'), (446, 'DK1', '25-10-2020'), (446, 'DK1', '26-03-2023'), (446, 'DK1', '27-03-2022'), (446, 'DK1', '28-03-2021'), (446, 'DK1', '30-10-2022'), (446, 'DK1', '31-10-2021'), (446, 'DK2', '25-10-2020'), (446, 'DK2', '26-03-2023'), (446, 'DK2', '27-03-2022'), (446, 'DK2', '28-03-2021'), (446, 'DK2', '30-10-2022'), (446, 'DK2', '31-10-2021'), (447, 'DK1', '25-10-2020'), (447, 'DK1', '26-03-2023'), (447, 'DK1', '27-03-2022'), (447, 'DK1', '28-03-2021'), (447, 'DK1', '30-10-2022'), (447, 'DK1', '31-10-2021'), (447, 'DK2', '25-10-2020'), (447, 'DK2', '26-03-2023'), (447, 'DK2', '27-03-2022'), (447, 'DK2', '28-03-2021'), (447, 'DK2', '30-10-2022'), (447, 'DK2', '31-10-2021'), (450, 'DK1', '25-10-2020'), (450, 'DK1', '26-03-2023'), (450, 'DK1', '27-03-2022'), (450, 'DK1', '28-03-2021'), (450, 'DK1', '30-10-2022'), (450, 'DK1', '31-10-2021'), (450, 'DK2', '25-10-2020'), (450, 'DK2', '26-03-2023'), (450, 'DK2', '27-03-2022'), (450, 'DK2', '28-03-2021'), (450, 'DK2', '30-10-2022'), (450, 'DK2', '31-10-2021'), (461, 'DK1', '25-10-2020'), (461, 'DK1', '26-03-2023'), (461, 'DK1', '27-03-2022'), (461, 'DK1', '28-03-2021'), (461, 'DK1', '30-10-2022'), (461, 'DK1', '31-10-2021'), (461, 'DK2', '25-10-2020'), (461, 'DK2', '26-03-2023'), (461, 'DK2', '27-03-2022'), (461, 'DK2', '28-03-2021'), (461, 'DK2', '30-10-2022'), (461, 'DK2', '31-10-2021'), (462, 'DK1', '25-10-2020'), (462, 'DK1', '26-03-2023'), (462, 'DK1', '27-03-2022'), (462, 'DK1', '28-03-2021'), (462, 'DK1', '30-10-2022'), (462, 'DK1', '31-10-2021'), (462, 'DK2', '25-10-2020'), (462, 'DK2', '26-03-2023'), (462, 'DK2', '27-03-2022'), (462, 'DK2', '28-03-2021'), (462, 'DK2', '30-10-2022'), (462, 'DK2', '31-10-2021'), (999, 'DK1', '25-10-2020'), (999, 'DK1', '26-03-2023'), (999, 'DK1', '27-03-2022'), (999, 'DK1', '28-03-2021'), (999, 'DK1', '30-10-2022'), (999, 'DK1', '31-10-2021'), (999, 'DK2', '25-10-2020'), (999, 'DK2', '26-03-2023'), (999, 'DK2', '27-03-2022'), (999, 'DK2', '28-03-2021'), (999, 'DK2', '30-10-2022'), (999, 'DK2', '31-10-2021')];

### Filter unusual data during the day

In [172]:
df_filtered = df[df[['ConsumerType_DE35', 'PriceArea', 'DMY']].apply(tuple, 1).isin(incomplete_combinations)]

In [173]:
df_filtered.shape

(10944, 28)

In [174]:
# Get all data is duplicated base on 3 columns ConsumerType_DE35, PriceArea, and HourDK
# Group by the three columns and filter out groups with count > 1
df_duplicated = df_filtered.groupby(['ConsumerType_DE35', 'PriceArea', 'HourDK']).filter(lambda x: len(x) > 1)


#df_duplicated = df_duplicated[df_duplicated.duplicated(subset=['ConsumerType_DE35', 'PriceArea', 'HourDK'], keep=False)]

In [175]:
# Export Duplicate data to CSV
df_duplicated.to_csv('../Data/DuplicatedData.csv', index=False)

In [161]:
# Remove duplicated data from the original data keeping the first occurence

#df = df.drop_duplicates(subset=['ConsumerType_DE35', 'PriceArea', 'HourDK'], keep='first')

In [176]:
# Step 1: Identify duplicates and calculate means

mean_totalcon = df_duplicated.groupby(['ConsumerType_DE35', 'PriceArea', 'HourDK'])['TotalCon'].transform('mean')

In [177]:
df_duplicated

,HourUTC,HourDK,PriceArea,ConsumerType_DE35,TotalCon,EventTimestamp,DMY,Hour,Minute,DayOfWeek,...,IsWeekend,IsMonthStart,IsMonthEnd,IsQuarterStart,IsQuarterEnd,IsWorkingDay,IsBusinessHours,IsPeakHour,MinuteOfDay,MinuteOfWeek
idx,,,,,,,,,,,,,,,,,,,,,
2022-10-30 02:00:00,2022-10-30 01:00,2022-10-30 02:00,DK1,111,45875,2022-10-30 02:00:00,30-10-2022,2,0,6,...,True,False,False,False,False,False,False,False,120,8760
2022-10-30 02:00:00,2022-10-30 01:00,2022-10-30 02:00,DK1,112,1299,2022-10-30 02:00:00,30-10-2022,2,0,6,...,True,False,False,False,False,False,False,False,120,8760
2022-10-30 02:00:00,2022-10-30 01:00,2022-10-30 02:00,DK1,119,18153,2022-10-30 02:00:00,30-10-2022,2,0,6,...,True,False,False,False,False,False,False,False,120,8760
2022-10-30 02:00:00,2022-10-30 01:00,2022-10-30 02:00,DK1,121,152261,2022-10-30 02:00:00,30-10-2022,2,0,6,...,True,False,False,False,False,False,False,False,120,8760
2022-10-30 02:00:00,2022-10-30 01:00,2022-10-30 02:00,DK1,122,26038,2022-10-30 02:00:00,30-10-2022,2,0,6,...,True,False,False,False,False,False,False,False,120,8760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-25 02:00:00,2020-10-25 00:00,2020-10-25 02:00,DK2,447,19368,2020-10-25 02:00:00,25-10-2020,2,0,6,...,True,False,False,False,False,False,False,False,120,8760
2020-10-25 02:00:00,2020-10-25 00:00,2020-10-25 02:00,DK2,450,7860,2020-10-25 02:00:00,25-10-2020,2,0,6,...,True,False,False,False,False,False,False,False,120,8760
2020-10-25 02:00:00,2020-10-25 00:00,2020-10-25 02:00,DK2,461,14473,2020-10-25 02:00:00,25-10-2020,2,0,6,...,True,False,False,False,False,False,False,False,120,8760
2020-10-25 02:00:00,2020-10-25 00:00,2020-10-25 02:00,DK2,462,10211,2020-10-25 02:00:00,25-10-2020,2,0,6,...,True,False,False,False,False,False,False,False,120,8760
2020-10-25 02:00:00,2020-10-25 00:00,2020-10-25 02:00,DK2,999,330819,2020-10-25 02:00:00,25-10-2020,2,0,6,...,True,False,False,False,False,False,False,False,120,8760

In [178]:
df_duplicated['Mean'] = mean_totalcon

In [179]:
df_duplicated

,HourUTC,HourDK,PriceArea,ConsumerType_DE35,TotalCon,EventTimestamp,DMY,Hour,Minute,DayOfWeek,...,IsMonthStart,IsMonthEnd,IsQuarterStart,IsQuarterEnd,IsWorkingDay,IsBusinessHours,IsPeakHour,MinuteOfDay,MinuteOfWeek,Mean
idx,,,,,,,,,,,,,,,,,,,,,
2022-10-30 02:00:00,2022-10-30 01:00,2022-10-30 02:00,DK1,111,45875,2022-10-30 02:00:00,30-10-2022,2,0,6,...,False,False,False,False,False,False,False,120,8760,47326.5
2022-10-30 02:00:00,2022-10-30 01:00,2022-10-30 02:00,DK1,112,1299,2022-10-30 02:00:00,30-10-2022,2,0,6,...,False,False,False,False,False,False,False,120,8760,1306.0
2022-10-30 02:00:00,2022-10-30 01:00,2022-10-30 02:00,DK1,119,18153,2022-10-30 02:00:00,30-10-2022,2,0,6,...,False,False,False,False,False,False,False,120,8760,18445.0
2022-10-30 02:00:00,2022-10-30 01:00,2022-10-30 02:00,DK1,121,152261,2022-10-30 02:00:00,30-10-2022,2,0,6,...,False,False,False,False,False,False,False,120,8760,159257.0
2022-10-30 02:00:00,2022-10-30 01:00,2022-10-30 02:00,DK1,122,26038,2022-10-30 02:00:00,30-10-2022,2,0,6,...,False,False,False,False,False,False,False,120,8760,26604.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-25 02:00:00,2020-10-25 00:00,2020-10-25 02:00,DK2,447,19368,2020-10-25 02:00:00,25-10-2020,2,0,6,...,False,False,False,False,False,False,False,120,8760,18910.5
2020-10-25 02:00:00,2020-10-25 00:00,2020-10-25 02:00,DK2,450,7860,2020-10-25 02:00:00,25-10-2020,2,0,6,...,False,False,False,False,False,False,False,120,8760,7564.0
2020-10-25 02:00:00,2020-10-25 00:00,2020-10-25 02:00,DK2,461,14473,2020-10-25 02:00:00,25-10-2020,2,0,6,...,False,False,False,False,False,False,False,120,8760,14724.0
2020-10-25 02:00:00,2020-10-25 00:00,2020-10-25 02:00,DK2,462,10211,2020-10-25 02:00:00,25-10-2020,2,0,6,...,False,False,False,False,False,False,False,120,8760,10191.0
2020-10-25 02:00:00,2020-10-25 00:00,2020-10-25 02:00,DK2,999,330819,2020-10-25 02:00:00,25-10-2020,2,0,6,...,False,False,False,False,False,False,False,120,8760,321792.5

In [136]:
incomplete_combinations = check_data_complete(df)

ConsumerType_DE35  PriceArea  DMY
111                DK1        26-03-2023    23
                              27-03-2022    23
                              28-03-2021    23
                   DK2        26-03-2023    23
                              27-03-2022    23
                                            ..
999                DK1        27-03-2022    23
                              28-03-2021    23
                   DK2        26-03-2023    23
                              27-03-2022    23
                              28-03-2021    23
Length: 228, dtype: int64
ConsumerType_DE35 and PriceArea groups with incomplete data: [(111, 'DK1', '26-03-2023'), (111, 'DK1', '27-03-2022'), (111, 'DK1', '28-03-2021'), (111, 'DK2', '26-03-2023'), (111, 'DK2', '27-03-2022'), (111, 'DK2', '28-03-2021'), (112, 'DK1', '26-03-2023'), (112, 'DK1', '27-03-2022'), (112, 'DK1', '28-03-2021'), (112, 'DK2', '26-03-2023'), (112, 'DK2', '27-03-2022'), (112, 'DK2', '28-03-2021'), (119, 'DK1', '26-03-2023'), (119, 'DK1', '27-03-2022'), (119, 'DK1', '28-03-2021'), (119, 'DK2', '26-03-2023'), (119, 'DK2', '27-03-2022'), (119, 'DK2', '28-03-2021'), (121, 'DK1', '26-03-2023'), (121, 'DK1', '27-03-2022'), (121, 'DK1', '28-03-2021'), (121, 'DK2', '26-03-2023'), (121, 'DK2', '27-03-2022'), (121, 'DK2', '28-03-2021'), (122, 'DK1', '26-03-2023'), (122, 'DK1', '27-03-2022'), (122, 'DK1', '28-03-2021'), (122, 'DK2', '26-03-2023'), (122, 'DK2', '27-03-2022'), (122, 'DK2', '28-03-2021'), (123, 'DK1', '26-03-2023'), (123, 'DK1', '27-03-2022'), (123, 'DK1', '28-03-2021'), (123, 'DK2', '26-03-2023'), (123, 'DK2', '27-03-2022'), (123, 'DK2', '28-03-2021'), (130, 'DK1', '26-03-2023'), (130, 'DK1', '27-03-2022'), (130, 'DK1', '28-03-2021'), (130, 'DK2', '26-03-2023'), (130, 'DK2', '27-03-2022'), (130, 'DK2', '28-03-2021'), (211, 'DK1', '26-03-2023'), (211, 'DK1', '27-03-2022'), (211, 'DK1', '28-03-2021'), (211, 'DK2', '26-03-2023'), (211, 'DK2', '27-03-2022'), (211, 'DK2', '28-03-2021'), (212, 'DK1', '26-03-2023'), (212, 'DK1', '27-03-2022'), (212, 'DK1', '28-03-2021'), (212, 'DK2', '26-03-2023'), (212, 'DK2', '27-03-2022'), (212, 'DK2', '28-03-2021'), (215, 'DK1', '26-03-2023'), (215, 'DK1', '27-03-2022'), (215, 'DK1', '28-03-2021'), (215, 'DK2', '26-03-2023'), (215, 'DK2', '27-03-2022'), (215, 'DK2', '28-03-2021'), (220, 'DK1', '26-03-2023'), (220, 'DK1', '27-03-2022'), (220, 'DK1', '28-03-2021'), (220, 'DK2', '26-03-2023'), (220, 'DK2', '27-03-2022'), (220, 'DK2', '28-03-2021'), (310, 'DK1', '26-03-2023'), (310, 'DK1', '27-03-2022'), (310, 'DK1', '28-03-2021'), (310, 'DK2', '26-03-2023'), (310, 'DK2', '27-03-2022'), (310, 'DK2', '28-03-2021'), (320, 'DK1', '26-03-2023'), (320, 'DK1', '27-03-2022'), (320, 'DK1', '28-03-2021'), (320, 'DK2', '26-03-2023'), (320, 'DK2', '27-03-2022'), (320, 'DK2', '28-03-2021'), (330, 'DK1', '26-03-2023'), (330, 'DK1', '27-03-2022'), (330, 'DK1', '28-03-2021'), (330, 'DK2', '26-03-2023'), (330, 'DK2', '27-03-2022'), (330, 'DK2', '28-03-2021'), (340, 'DK1', '26-03-2023'), (340, 'DK1', '27-03-2022'), (340, 'DK1', '28-03-2021'), (340, 'DK2', '26-03-2023'), (340, 'DK2', '27-03-2022'), (340, 'DK2', '28-03-2021'), (350, 'DK1', '26-03-2023'), (350, 'DK1', '27-03-2022'), (350, 'DK1', '28-03-2021'), (350, 'DK2', '26-03-2023'), (350, 'DK2', '27-03-2022'), (350, 'DK2', '28-03-2021'), (360, 'DK1', '26-03-2023'), (360, 'DK1', '27-03-2022'), (360, 'DK1', '28-03-2021'), (360, 'DK2', '26-03-2023'), (360, 'DK2', '27-03-2022'), (360, 'DK2', '28-03-2021'), (370, 'DK1', '26-03-2023'), (370, 'DK1', '27-03-2022'), (370, 'DK1', '28-03-2021'), (370, 'DK2', '26-03-2023'), (370, 'DK2', '27-03-2022'), (370, 'DK2', '28-03-2021'), (381, 'DK1', '26-03-2023'), (381, 'DK1', '27-03-2022'), (381, 'DK1', '28-03-2021'), (381, 'DK2', '26-03-2023'), (381, 'DK2', '27-03-2022'), (381, 'DK2', '28-03-2021'), (382, 'DK1', '26-03-2023'), (382, 'DK1', '27-03-2022'), (382, 'DK1', '28-03-2021'), (382, 'DK2', '26-03-2023'), (382, 'DK2', '27-03-2022'), (382, 'DK2', '28-03-2021'), (390, 'DK1', '26-03-2023'), (390, 'DK1', '27-03-2022'), (390, 'DK1', '28-03-2021'), (390, 'DK2', '26-03-2023'), (390, 'DK2', '27-03-2022'), (390, 'DK2', '28-03-2021'), (410, 'DK1', '26-03-2023'), (410, 'DK1', '27-03-2022'), (410, 'DK1', '28-03-2021'), (410, 'DK2', '26-03-2023'), (410, 'DK2', '27-03-2022'), (410, 'DK2', '28-03-2021'), (421, 'DK1', '26-03-2023'), (421, 'DK1', '27-03-2022'), (421, 'DK1', '28-03-2021'), (421, 'DK2', '26-03-2023'), (421, 'DK2', '27-03-2022'), (421, 'DK2', '28-03-2021'), (422, 'DK1', '26-03-2023'), (422, 'DK1', '27-03-2022'), (422, 'DK1', '28-03-2021'), (422, 'DK2', '26-03-2023'), (422, 'DK2', '27-03-2022'), (422, 'DK2', '28-03-2021'), (431, 'DK1', '26-03-2023'), (431, 'DK1', '27-03-2022'), (431, 'DK1', '28-03-2021'), (431, 'DK2', '26-03-2023'), (431, 'DK2', '27-03-2022'), (431, 'DK2', '28-03-2021'), (432, 'DK1', '26-03-2023'), (432, 'DK1', '27-03-2022'), (432, 'DK1', '28-03-2021'), (432, 'DK2', '26-03-2023'), (432, 'DK2', '27-03-2022'), (432, 'DK2', '28-03-2021'), (433, 'DK1', '26-03-2023'), (433, 'DK1', '27-03-2022'), (433, 'DK1', '28-03-2021'), (433, 'DK2', '26-03-2023'), (433, 'DK2', '27-03-2022'), (433, 'DK2', '28-03-2021'), (441, 'DK1', '26-03-2023'), (441, 'DK1', '27-03-2022'), (441, 'DK1', '28-03-2021'), (441, 'DK2', '26-03-2023'), (441, 'DK2', '27-03-2022'), (441, 'DK2', '28-03-2021'), (442, 'DK1', '26-03-2023'), (442, 'DK1', '27-03-2022'), (442, 'DK1', '28-03-2021'), (442, 'DK2', '26-03-2023'), (442, 'DK2', '27-03-2022'), (442, 'DK2', '28-03-2021'), (443, 'DK1', '26-03-2023'), (443, 'DK1', '27-03-2022'), (443, 'DK1', '28-03-2021'), (443, 'DK2', '26-03-2023'), (443, 'DK2', '27-03-2022'), (443, 'DK2', '28-03-2021'), (444, 'DK1', '26-03-2023'), (444, 'DK1', '27-03-2022'), (444, 'DK1', '28-03-2021'), (444, 'DK2', '26-03-2023'), (444, 'DK2', '27-03-2022'), (444, 'DK2', '28-03-2021'), (445, 'DK1', '26-03-2023'), (445, 'DK1', '27-03-2022'), (445, 'DK1', '28-03-2021'), (445, 'DK2', '26-03-2023'), (445, 'DK2', '27-03-2022'), (445, 'DK2', '28-03-2021'), (446, 'DK1', '26-03-2023'), (446, 'DK1', '27-03-2022'), (446, 'DK1', '28-03-2021'), (446, 'DK2', '26-03-2023'), (446, 'DK2', '27-03-2022'), (446, 'DK2', '28-03-2021'), (447, 'DK1', '26-03-2023'), (447, 'DK1', '27-03-2022'), (447, 'DK1', '28-03-2021'), (447, 'DK2', '26-03-2023'), (447, 'DK2', '27-03-2022'), (447, 'DK2', '28-03-2021'), (450, 'DK1', '26-03-2023'), (450, 'DK1', '27-03-2022'), (450, 'DK1', '28-03-2021'), (450, 'DK2', '26-03-2023'), (450, 'DK2', '27-03-2022'), (450, 'DK2', '28-03-2021'), (461, 'DK1', '26-03-2023'), (461, 'DK1', '27-03-2022'), (461, 'DK1', '28-03-2021'), (461, 'DK2', '26-03-2023'), (461, 'DK2', '27-03-2022'), (461, 'DK2', '28-03-2021'), (462, 'DK1', '26-03-2023'), (462, 'DK1', '27-03-2022'), (462, 'DK1', '28-03-2021'), (462, 'DK2', '26-03-2023'), (462, 'DK2', '27-03-2022'), (462, 'DK2', '28-03-2021'), (999, 'DK1', '26-03-2023'), (999, 'DK1', '27-03-2022'), (999, 'DK1', '28-03-2021'), (999, 'DK2', '26-03-2023'), (999, 'DK2', '27-03-2022'), (999, 'DK2', '28-03-2021')];

In [195]:
# Assuming df_duplicated is already defined as the DataFrame subset with duplicated rows
mean_totalcon = df_duplicated.groupby(['ConsumerType_DE35', 'PriceArea', 'HourDK'])['TotalCon'].mean()

# Update TotalCon in df using mean values from df_duplicated
df['TotalCon'] = df.apply(lambda row: row['TotalCon'] if pd.notna(row['TotalCon']) else mean_totalcon.loc[(row['ConsumerType_DE35'], row['PriceArea'], row['HourDK'])], axis=1)

# Print the updated DataFrame to verify
print(df)

                              HourUTC            HourDK PriceArea  \
idx
2023-06-30 23:00:00  2023-06-30 21:00  2023-06-30 23:00       DK1
2023-06-30 23:00:00  2023-06-30 21:00  2023-06-30 23:00       DK2
2023-06-30 23:00:00  2023-06-30 21:00  2023-06-30 23:00       DK1
2023-06-30 23:00:00  2023-06-30 21:00  2023-06-30 23:00       DK2
2023-06-30 23:00:00  2023-06-30 21:00  2023-06-30 23:00       DK1
...                               ...               ...       ...
2020-07-01 00:00:00  2020-06-30 22:00  2020-07-01 00:00       DK2
2020-07-01 00:00:00  2020-06-30 22:00  2020-07-01 00:00       DK2
2020-07-01 00:00:00  2020-06-30 22:00  2020-07-01 00:00       DK2
2020-07-01 00:00:00  2020-06-30 22:00  2020-07-01 00:00       DK2
2020-07-01 00:00:00  2020-06-30 22:00  2020-07-01 00:00       DK2

                     ConsumerType_DE35  TotalCon      EventTimestamp  \
idx
2023-06-30 23:00:00                111     65920 2023-06-30 23:00:00
2023-06-30 23:00:00                111     47018 2023-06-30 23:00:00
2023-06-30 23:00:00                112      1313 2023-06-30 23:00:00
2023-06-30 23:00:00                112       933 2023-06-30 23:00:00
2023-06-30 23:00:00                119     21806 2023-06-30 23:00:00
...                                ...       ...                 ...
2020-07-01 00:00:00                447     18735 2020-07-01 00:00:00
2020-07-01 00:00:00                450      8243 2020-07-01 00:00:00
2020-07-01 00:00:00                461     20853 2020-07-01 00:00:00
2020-07-01 00:00:00                462     10187 2020-07-01 00:00:00
2020-07-01 00:00:00                999    326440 2020-07-01 00:00:00

                            DMY  Hour  Minute  DayOfWeek  ...  IsWeekend  \
idx                                                       ...
2023-06-30 23:00:00  30-06-2023    23       0          4  ...      False
2023-06-30 23:00:00  30-06-2023    23       0          4  ...      False
2023-06-30 23:00:00  30-06-2023    23       0          4  ...      False
2023-06-30 23:00:00  30-06-2023    23       0          4  ...      False
2023-06-30 23:00:00  30-06-2023    23       0          4  ...      False
...                         ...   ...     ...        ...  ...        ...
2020-07-01 00:00:00  01-07-2020     0       0          2  ...      False
2020-07-01 00:00:00  01-07-2020     0       0          2  ...      False
2020-07-01 00:00:00  01-07-2020     0       0          2  ...      False
2020-07-01 00:00:00  01-07-2020     0       0          2  ...      False
2020-07-01 00:00:00  01-07-2020     0       0          2  ...      False

                     IsMonthStart  IsMonthEnd  IsQuarterStart  IsQuarterEnd  \
idx
2023-06-30 23:00:00         False        True           False         False
2023-06-30 23:00:00         False        True           False         False
2023-06-30 23:00:00         False        True           False         False
2023-06-30 23:00:00         False        True           False         False
2023-06-30 23:00:00         False        True           False         False
...                           ...         ...             ...           ...
2020-07-01 00:00:00          True       False            True         False
2020-07-01 00:00:00          True       False            True         False
2020-07-01 00:00:00          True       False            True         False
2020-07-01 00:00:00          True       False            True         False
2020-07-01 00:00:00          True       False            True         False

                     IsWorkingDay  IsBusinessHours  IsPeakHour  MinuteOfDay  \
idx
2023-06-30 23:00:00          True            False       False         1380
2023-06-30 23:00:00          True            False       False         1380
2023-06-30 23:00:00          True            False       False         1380
2023-06-30 23:00:00          True            False       False         1380
2023-06-30 23:00:00          True            False       False         1380
...                           ...              ...         ...          ...
2020-07-01 00:00:00          True            False       False            0
2020-07-01 00:00:00          True            False       False            0
2020-07-01 00:00:00          True            False       False            0
2020-07-01 00:00:00          True            False       False            0
2020-07-01 00:00:00          True            False       False            0

                     MinuteOfWeek
idx
2023-06-30 23:00:00          7140
2023-06-30 23:00:00          7140
2023-06-30 23:00:00          7140
2023-06-30 23:00:00          7140
2023-06-30 23:00:00          7140
...                           ...
2020-07-01 00:00:00          2880
2020-07-01 00:00:00          2880
2020-07-01 00:00:00          2880
2020-07-01 00:00:00          2880
2020-07-01 00:00:00          2880

[1997280 rows x 28 columns]

In [196]:
df = df.drop_duplicates(subset=['ConsumerType_DE35', 'PriceArea', 'HourDK'], keep='first')

In [197]:
incomplete_combinations = check_data_complete(df)

ConsumerType_DE35  PriceArea  DMY
111                DK1        26-03-2023    23
                              27-03-2022    23
                              28-03-2021    23
                   DK2        26-03-2023    23
                              27-03-2022    23
                                            ..
999                DK1        27-03-2022    23
                              28-03-2021    23
                   DK2        26-03-2023    23
                              27-03-2022    23
                              28-03-2021    23
Length: 228, dtype: int64
ConsumerType_DE35 and PriceArea groups with incomplete data: [(111, 'DK1', '26-03-2023'), (111, 'DK1', '27-03-2022'), (111, 'DK1', '28-03-2021'), (111, 'DK2', '26-03-2023'), (111, 'DK2', '27-03-2022'), (111, 'DK2', '28-03-2021'), (112, 'DK1', '26-03-2023'), (112, 'DK1', '27-03-2022'), (112, 'DK1', '28-03-2021'), (112, 'DK2', '26-03-2023'), (112, 'DK2', '27-03-2022'), (112, 'DK2', '28-03-2021'), (119, 'DK1', '26-03-2023'), (119, 'DK1', '27-03-2022'), (119, 'DK1', '28-03-2021'), (119, 'DK2', '26-03-2023'), (119, 'DK2', '27-03-2022'), (119, 'DK2', '28-03-2021'), (121, 'DK1', '26-03-2023'), (121, 'DK1', '27-03-2022'), (121, 'DK1', '28-03-2021'), (121, 'DK2', '26-03-2023'), (121, 'DK2', '27-03-2022'), (121, 'DK2', '28-03-2021'), (122, 'DK1', '26-03-2023'), (122, 'DK1', '27-03-2022'), (122, 'DK1', '28-03-2021'), (122, 'DK2', '26-03-2023'), (122, 'DK2', '27-03-2022'), (122, 'DK2', '28-03-2021'), (123, 'DK1', '26-03-2023'), (123, 'DK1', '27-03-2022'), (123, 'DK1', '28-03-2021'), (123, 'DK2', '26-03-2023'), (123, 'DK2', '27-03-2022'), (123, 'DK2', '28-03-2021'), (130, 'DK1', '26-03-2023'), (130, 'DK1', '27-03-2022'), (130, 'DK1', '28-03-2021'), (130, 'DK2', '26-03-2023'), (130, 'DK2', '27-03-2022'), (130, 'DK2', '28-03-2021'), (211, 'DK1', '26-03-2023'), (211, 'DK1', '27-03-2022'), (211, 'DK1', '28-03-2021'), (211, 'DK2', '26-03-2023'), (211, 'DK2', '27-03-2022'), (211, 'DK2', '28-03-2021'), (212, 'DK1', '26-03-2023'), (212, 'DK1', '27-03-2022'), (212, 'DK1', '28-03-2021'), (212, 'DK2', '26-03-2023'), (212, 'DK2', '27-03-2022'), (212, 'DK2', '28-03-2021'), (215, 'DK1', '26-03-2023'), (215, 'DK1', '27-03-2022'), (215, 'DK1', '28-03-2021'), (215, 'DK2', '26-03-2023'), (215, 'DK2', '27-03-2022'), (215, 'DK2', '28-03-2021'), (220, 'DK1', '26-03-2023'), (220, 'DK1', '27-03-2022'), (220, 'DK1', '28-03-2021'), (220, 'DK2', '26-03-2023'), (220, 'DK2', '27-03-2022'), (220, 'DK2', '28-03-2021'), (310, 'DK1', '26-03-2023'), (310, 'DK1', '27-03-2022'), (310, 'DK1', '28-03-2021'), (310, 'DK2', '26-03-2023'), (310, 'DK2', '27-03-2022'), (310, 'DK2', '28-03-2021'), (320, 'DK1', '26-03-2023'), (320, 'DK1', '27-03-2022'), (320, 'DK1', '28-03-2021'), (320, 'DK2', '26-03-2023'), (320, 'DK2', '27-03-2022'), (320, 'DK2', '28-03-2021'), (330, 'DK1', '26-03-2023'), (330, 'DK1', '27-03-2022'), (330, 'DK1', '28-03-2021'), (330, 'DK2', '26-03-2023'), (330, 'DK2', '27-03-2022'), (330, 'DK2', '28-03-2021'), (340, 'DK1', '26-03-2023'), (340, 'DK1', '27-03-2022'), (340, 'DK1', '28-03-2021'), (340, 'DK2', '26-03-2023'), (340, 'DK2', '27-03-2022'), (340, 'DK2', '28-03-2021'), (350, 'DK1', '26-03-2023'), (350, 'DK1', '27-03-2022'), (350, 'DK1', '28-03-2021'), (350, 'DK2', '26-03-2023'), (350, 'DK2', '27-03-2022'), (350, 'DK2', '28-03-2021'), (360, 'DK1', '26-03-2023'), (360, 'DK1', '27-03-2022'), (360, 'DK1', '28-03-2021'), (360, 'DK2', '26-03-2023'), (360, 'DK2', '27-03-2022'), (360, 'DK2', '28-03-2021'), (370, 'DK1', '26-03-2023'), (370, 'DK1', '27-03-2022'), (370, 'DK1', '28-03-2021'), (370, 'DK2', '26-03-2023'), (370, 'DK2', '27-03-2022'), (370, 'DK2', '28-03-2021'), (381, 'DK1', '26-03-2023'), (381, 'DK1', '27-03-2022'), (381, 'DK1', '28-03-2021'), (381, 'DK2', '26-03-2023'), (381, 'DK2', '27-03-2022'), (381, 'DK2', '28-03-2021'), (382, 'DK1', '26-03-2023'), (382, 'DK1', '27-03-2022'), (382, 'DK1', '28-03-2021'), (382, 'DK2', '26-03-2023'), (382, 'DK2', '27-03-2022'), (382, 'DK2', '28-03-2021'), (390, 'DK1', '26-03-2023'), (390, 'DK1', '27-03-2022'), (390, 'DK1', '28-03-2021'), (390, 'DK2', '26-03-2023'), (390, 'DK2', '27-03-2022'), (390, 'DK2', '28-03-2021'), (410, 'DK1', '26-03-2023'), (410, 'DK1', '27-03-2022'), (410, 'DK1', '28-03-2021'), (410, 'DK2', '26-03-2023'), (410, 'DK2', '27-03-2022'), (410, 'DK2', '28-03-2021'), (421, 'DK1', '26-03-2023'), (421, 'DK1', '27-03-2022'), (421, 'DK1', '28-03-2021'), (421, 'DK2', '26-03-2023'), (421, 'DK2', '27-03-2022'), (421, 'DK2', '28-03-2021'), (422, 'DK1', '26-03-2023'), (422, 'DK1', '27-03-2022'), (422, 'DK1', '28-03-2021'), (422, 'DK2', '26-03-2023'), (422, 'DK2', '27-03-2022'), (422, 'DK2', '28-03-2021'), (431, 'DK1', '26-03-2023'), (431, 'DK1', '27-03-2022'), (431, 'DK1', '28-03-2021'), (431, 'DK2', '26-03-2023'), (431, 'DK2', '27-03-2022'), (431, 'DK2', '28-03-2021'), (432, 'DK1', '26-03-2023'), (432, 'DK1', '27-03-2022'), (432, 'DK1', '28-03-2021'), (432, 'DK2', '26-03-2023'), (432, 'DK2', '27-03-2022'), (432, 'DK2', '28-03-2021'), (433, 'DK1', '26-03-2023'), (433, 'DK1', '27-03-2022'), (433, 'DK1', '28-03-2021'), (433, 'DK2', '26-03-2023'), (433, 'DK2', '27-03-2022'), (433, 'DK2', '28-03-2021'), (441, 'DK1', '26-03-2023'), (441, 'DK1', '27-03-2022'), (441, 'DK1', '28-03-2021'), (441, 'DK2', '26-03-2023'), (441, 'DK2', '27-03-2022'), (441, 'DK2', '28-03-2021'), (442, 'DK1', '26-03-2023'), (442, 'DK1', '27-03-2022'), (442, 'DK1', '28-03-2021'), (442, 'DK2', '26-03-2023'), (442, 'DK2', '27-03-2022'), (442, 'DK2', '28-03-2021'), (443, 'DK1', '26-03-2023'), (443, 'DK1', '27-03-2022'), (443, 'DK1', '28-03-2021'), (443, 'DK2', '26-03-2023'), (443, 'DK2', '27-03-2022'), (443, 'DK2', '28-03-2021'), (444, 'DK1', '26-03-2023'), (444, 'DK1', '27-03-2022'), (444, 'DK1', '28-03-2021'), (444, 'DK2', '26-03-2023'), (444, 'DK2', '27-03-2022'), (444, 'DK2', '28-03-2021'), (445, 'DK1', '26-03-2023'), (445, 'DK1', '27-03-2022'), (445, 'DK1', '28-03-2021'), (445, 'DK2', '26-03-2023'), (445, 'DK2', '27-03-2022'), (445, 'DK2', '28-03-2021'), (446, 'DK1', '26-03-2023'), (446, 'DK1', '27-03-2022'), (446, 'DK1', '28-03-2021'), (446, 'DK2', '26-03-2023'), (446, 'DK2', '27-03-2022'), (446, 'DK2', '28-03-2021'), (447, 'DK1', '26-03-2023'), (447, 'DK1', '27-03-2022'), (447, 'DK1', '28-03-2021'), (447, 'DK2', '26-03-2023'), (447, 'DK2', '27-03-2022'), (447, 'DK2', '28-03-2021'), (450, 'DK1', '26-03-2023'), (450, 'DK1', '27-03-2022'), (450, 'DK1', '28-03-2021'), (450, 'DK2', '26-03-2023'), (450, 'DK2', '27-03-2022'), (450, 'DK2', '28-03-2021'), (461, 'DK1', '26-03-2023'), (461, 'DK1', '27-03-2022'), (461, 'DK1', '28-03-2021'), (461, 'DK2', '26-03-2023'), (461, 'DK2', '27-03-2022'), (461, 'DK2', '28-03-2021'), (462, 'DK1', '26-03-2023'), (462, 'DK1', '27-03-2022'), (462, 'DK1', '28-03-2021'), (462, 'DK2', '26-03-2023'), (462, 'DK2', '27-03-2022'), (462, 'DK2', '28-03-2021'), (999, 'DK1', '26-03-2023'), (999, 'DK1', '27-03-2022'), (999, 'DK1', '28-03-2021'), (999, 'DK2', '26-03-2023'), (999, 'DK2', '27-03-2022'), (999, 'DK2', '28-03-2021')];